@model Archery.Models.Question

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Difficult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Explanation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodAnswers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodAnswers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BadAnswers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BadAnswers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sujet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sujet.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
